{{@textBeforeStars}}
{{! Le @ permet de récupérer le contenu d'un args, le this permet de récupérer une propriété dans le fichier js correspondant au template }}
{{#each this.stars as |star|}}
  <button {{on 'click' (fn this.setRating star.rating)}}>
    {{! (fn this.action paramètre1 paramètre2 ...) }}
    {{#if star.isFull}}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 20 20'
        class='h-4 fill-current text-blue-400 mx-1'
      >
        <path
          d='M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z'
        ></path>
      </svg>
    {{else}}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 20 20'
        class='h-4 fill-current text-white mx-1'
      >
        <path
          d='M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z'
        ></path>
      </svg>
    {{/if}}
  </button>
{{/each}}
{{yield}}
{{! Dans le yield, on retrouvera la position de notre étoile jaune }}