{{page-title "Bands"}}
<div class="w-96">
  {{#each this.model as |band|}}
    <div class="flex justify-between">
      <div>
        <LinkTo @route="bands.band.songs" @model={{band.id}}> {{ band.name }}</LinkTo>
      </div>
    </div>
  {{/each}}
</div>
<div class="flex w-full pl-8">
  {{outlet}}
</div>