{{page-title "Songs"}}
<div class="w-96">
  {{#each this.model as |song|}}
    <div class="flex justify-between">
      <div>
        {{song.title}} <span class="text-teal-200 text-sm">by {{song.band.name}}</span>
      </div>
      <span>{{song.rating}}</span>
    </div>
  {{/each}}
</div>